body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #000000;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

/* Estilos de Secciones */
section {
    padding: 40px;
}

h2 {
    color: #5e0294;
    margin: 30px auto;
    padding: 30px;

    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos de Formulario */
form {
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    background-color: #333;
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #440058;
    color: #ffffff;
    padding: 30px;
    text-align: center;

    margin: 30px auto;
    padding: 30px;

    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a { /* botones */
    color: #ffffff;
    text-decoration: none;
}

/* Estilos de Secciones */
section {
    padding: 40px;
}

h2 {
    color: #000000; /* Color del texto */
    text-align: center; /* Para centrar el texto */
    background-color: #b414f3; /* Fondo de color */
}

/* Estilos de Enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos de Pie de Página */
footer {
    background-color: #4d4701;
    color: #000000;
    text-align: center;
    padding: 20px;
}

/* Estilos de Botón */
button {
    background-color: #007bff;
    color: #f70202;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}
.contact-info {
    margin: 30px auto;
    padding: 30px;
    background-color: #766d79;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#nosotros {
    text-align: center;
}

#nosotros img {
    display: block;
    margin: 0 auto;
}
.contenido {
    position: relative;
    text-align: center; /* Centrar contenido */
}

.texto-centrado {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7); /* Fondo semi-transparente */
    padding: 20px;
}

 /* Estilos CSS */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
            color: #333;
        
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }
        section {
            padding: 20px;
        }
        h1 {
            text-align: center;
        }
        p {
            text-align: justify;
            margin-bottom: 20px;
        }
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }